#page-home{
  height: 100vh;
  background-image: url(../assets/home-background.svg);
  background-repeat: no-repeat;
  background-position: 35vw bottom;
}

#page-home .container{
  width: 90%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#page-home header{
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-home header a{
  display: flex;
  font-weight: 700;
  color: var(--title-color);
}

#page-home header a span{
  width: 20px;
  height: 20px;
  margin-right: 16px;
  display: flex;
  background-image: url(../assets/log-in.svg);
}

#page-home main{
  max-width: 560px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page-home main h1{
  font-size: 54px;
}

#page-home main p{
  line-height: 38px;
  font-size: 24px;
  margin-top: 24px;
}

#page-home main a{
  width: 100%;
  height: 72px;
  max-width: 360px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  color: white;
  background-color: var(--primary-color);
  transition: 400ms;
}

#page-home main a:hover{
  background-color: #2fb86e;
}

#page-home main a span{
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: rgba(0, 0, 0, 0.08);
}

#page-home main a span::after{
  width: 20px;
  height: 20px;
  content: "";
  background-image: url(../assets/search.svg);
}

#page-home main a strong{
  flex: 1;
  text-align: center;
}