<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
      <title>Ecoleta</title>
    {% endblock title %}

    <!-- CSS -->
    <link href="./css/framework.css" rel="stylesheet" />
    {% block styles %}
    {% endblock styles %}
    <link href="./css/responsive.css" rel="stylesheet" />
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="{{ pageId }}">
      {% block content %}
      {% endblock content %}
    </div><!--Page Home-->

    {% block modal %}
    {% endblock modal %}

    {% block scripts %}
    {% endblock scripts %}
  </body>

</html><!-- Coded by SVG -->